<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sbn.AdvancedControls.WordControlDocument.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sbn.AdvancedControls.WordControlDocument.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sbn.AdvancedControls.WordControlDocument.Properties.Settings>
            <setting name="ImagePrinterName1" serializeAs="String">
                <value>Microsoft Office Document Image Writer</value>
            </setting>
            <setting name="ImagePrinterName2" serializeAs="String">
                <value>Universal Document Converter</value>
            </setting>
            <setting name="ImagePrinterName3" serializeAs="String">
                <value>Fax</value>
            </setting>
        </Sbn.AdvancedControls.WordControlDocument.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Sbn.AdvancedControls.WordControlDocument.Properties.Settings>
            <setting name="ImagePrinter" serializeAs="String">
                <value>Microsoft Office Document Image Writer</value>
            </setting>
            <setting name="Extention" serializeAs="String">
                <value>.tif</value>
            </setting>
        </Sbn.AdvancedControls.WordControlDocument.Properties.Settings>
    </userSettings>
</configuration>