<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SessionPresent.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <SessionPresent.Properties.Settings>
            <setting name="TimeToWait" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="PresenterPort" serializeAs="String">
                <value>11000</value>
            </setting>
            <setting name="PresenterIP" serializeAs="String">
                <value>192.168.14.76</value>
            </setting>
            <setting name="IsAdmin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OtherDocsPath" serializeAs="String">
                <value>D:\Projects\GOVSession\Docs</value>
            </setting>
            <setting name="DefaultPath" serializeAs="String">
                <value>D:\Projects\GOVSession\Sessions</value>
            </setting>
            <setting name="Version" serializeAs="String">
                <value>نسخه پاییز 98</value>
            </setting>
        </SessionPresent.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
